#inv-filter-and-sort-form {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid;
}

#inv-price-filter-fieldset, #inv-sort-fieldset {
  width: 25%;
}

#inv-name-filter-input {
  width: 15em;
  border: 1px solid;
}

#inventory-items-section {
  height: 70vh;
  overflow-y: scroll;
}

#inventory-items-ul {
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.inventory-item {
  width: 200px;
  height: min-content;
  margin: 10px;
  border: 10px solid;
  border-radius: 10px;
}

.inventory-item-figure {
  width: 100%;
  margin: 0;
}

.inventory-item-rarity-p {
  border-bottom: 1px solid;
}

.inventory-item-thumbnail {
  width: 100%;
}

.inventory-item-name-figcaption {
  height: 2em;
}

.inventory-item-description-p {
  height: 3em;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.common-item {
  background-color: gray;
  border-color: lightgray;
}

.uncommon-item {
  background-color: green;
  border-color: lightgreen;
}

.rare-item {
  background-color: cornflowerblue;
  border-color: lightblue;
}