#login-main {
  min-width: min-content;
  width: 15vw;
  height: 80vh;
  display: flex;
  align-items: center;
}

#login-form {
  width: 100%;
  padding: 0.5em;
  border: 1px solid;
  border-radius: 10px;
}

#login-inputs-fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid;
}

#server-message {
  height: 3em;
  color: rgb(255, 145, 145);
}

#username-input, #password-input {
  margin: 0.5em;
  border-radius: 10px;
  text-align: center;
}

#login-submission-fieldset {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  padding: 10px 0;
}

#register-button, #login-button {
  width: 40%;
  background-color: transparent;
  padding: 0.5em 0;
  border-radius: 10px;
}