#login-main {
  min-width: min-content;
  width: 20vw; /* Adjusted for a more appropriate size */
  height: 60vh; /* Adjusted for a sleeker look */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7; /* A light background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
  border-radius: 15px; /* Slightly larger border radius for a softer look */
  padding: 2em; /* Added padding for spacing */
}

#login-form {
  width: 100%;
  padding: 1em;
  border: none; /* Removing the border */
  border-radius: 10px;
}

#login-inputs-fieldset,
#login-submission-fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 10px 0;
  border: none; /* Modern forms often do not have borders around fieldsets */
}

#login-inputs-fieldset {
  border-bottom: 2px solid #eee; /* A subtle bottom border */
}

#server-message {
  height: 3em;
  color: #ff9191; /* Keeping the color for error messages */
  text-align: center; /* Centering the server message */
  margin-bottom: 1em; /* Adding some spacing */
}

#username-input, #password-input {
  margin: 0.5em 0;
  border-radius: 10px;
  border: 1px solid #ccc; /* A lighter border color */
  padding: 0.75em; /* More padding for a larger touch area */
  text-align: left; /* Text alignment to left for a more standard input look */
  background-color: #fff; /* White background for the inputs */
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle inset shadow */
  transition: border-color 0.3s; /* Smooth transition for focus */
}

#username-input:focus, #password-input:focus {
  outline: none; /* Removing the default focus outline */
  border-color: #007bff; /* Highlighting focused input */
}

#register-button, #login-button {
  width: 200px; /* Adjusted for better spacing */
  margin-top: 10px;
  height: auto;
  background-color: #007bff; /* A more vibrant button color */
  color: #ffffff; /* White text for better contrast */
  padding: 0.75em 0; /* Larger padding for a taller button */
  border-radius: 10px;
  border: none; /* Removing the border */
  cursor: pointer; /* Cursor to pointer to indicate it's clickable */
  transition: background-color 0.3s; /* Smooth background transition */
}

#register-button:hover, #login-button:hover {
  background-color: #0056b3; /* Darker shade on hover for interactivity */
}

/* Flex container for buttons to ensure even spacing and centering */
#login-submission-fieldset {
  justify-content: space-around;
  align-items: center;
}
