/*https://heatherketten.wordpress.com/2018/03/27/css-fake-pokemon-cards/*/
#mp-filter-and-sort-form {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid;
}

#mp-price-filter-fieldset, #mp-sort-fieldset {
  width: 25%;
}

#mp-name-filter-input {
  width: 15em;
  border: 1px solid;
}

#listed-items-section {
  height: 70vh;
  overflow-y: scroll;
  background-color: transparent;
}

#listed-items-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  list-style-type: none;
  padding: 0;
}

.listed-item {
  width: 350px; 
  height: 450px; 
  margin: 20px;
  border: 5px solid #dddddd; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  background-color: transparent;
  display: flex;
  flex-direction: column; 
  overflow: hidden; 
}

.listed-item-figure {
  width: 100%;
  height: 50%; 
  margin: 0;
  background-color: transparent;
}

.listed-item-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: contain;  
}

.listed-item-name-figcaption, .listed-item-description-p, .listed-item-rarity-p {
  padding: 5px 10px; 
  background-color: transparent;
  
}

.listed-item-rarity-p{
    padding: 5px 10px;
    background-color: transparent;
    color: black;
    font-weight: bold; /* Make the font bolder */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Add a subtle text shadow for depth */
    border: 1px solid #e0e0e0; /* Add a subtle border for definition */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Soft shadow for a slight 3D effect */
    border-radius: 4px; /* Slightly rounded corners for a softer look */
    margin: 8px; /* Add some margin around these elements for better spacing */

}
.listed-item-name-figcaption {
  font-size: 1.2em; 
  font-weight: bold; 
  border-bottom: 1px solid #eeeeee; 
}

.listed-item-description-p, .listed-item-rarity-p {
  font-size: 0.9em; 
}

.listed-item-purchase-form {
  margin-top: auto; 
  padding: 10px; 
  background-color: transparent;
}

.listed-item-purchase-button {
  width: 100%;
  padding: 10px 0; 
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.listed-item-purchase-button:hover {
  background-color: #0056b3; 
}


.Common-item {background-color: transparent; border-color: #CBCBCB;
  .listed-item-rarity-p{
    color:  #CBCBCB;
 } 
}

.Uncommon-item {background-color: transparent; border-color: lightgreen; 
  .listed-item-rarity-p{
    color:  lightgreen;
 }
}

.Rare-item {background-color: transparent;border-color: #4178BE; 
  .listed-item-rarity-p{
    color: #4178BE;
 }
}

.Super-Rare-item { background-color: transparent;border-color: #E6C200; 
  .listed-item-rarity-p{
   color: #E6C200;
 }
}




