#message-box {
  width: 30em;
  position: absolute;
  bottom: 10vh;
  right: 0;
  background-color: #f0f0f0; 
  margin-right: 20px;
  border: 1px solid #d3d3d3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden; 
}

#message-box-header {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #007bff; 
  color: white;
  padding: 10px; 
}

#message-box-h3 {
  margin: 0;
  font-size: 16px; 
}

#message-box-toggle-expand-button {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 0;
}


#message-box-conversations-section {
  display: flex;
  height: 25em;
  border-top: 1px solid #d3d3d3;
}

#message-box-conversation-users-section {
  width: 15em;
  height: 100%;
  border-right: 1px solid #d3d3d3;
}

#message-box-user-search-form {
  width: 100%;
  height: 3em;
  border-bottom: 1px solid;
}

#message-box-user-search-input,
#message-box-add-user-button {
  height: 2em; /* Increased for better interaction */
  border: 1px solid #ccc;
  padding: 5px; /* Padding for text space */
}

#message-box-user-search-input {
  width: calc(100% - 3em); /* Adjusted to fill space */
  margin-right: 15px;
}

#message-box-add-user-button {
  width: 2em;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer; /* Pointer to indicate clickability */
}

#message-box-conversation-users-ul {
  width: 100%;
  height: calc(100% - 3em); /* Adjust height based on search form */
  overflow-y: auto;
  list-style: none;
  padding: 0;
  
}

.selected-conversation-button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #e9ecef;
  box-shadow: inset 0 0 2px black;
  cursor: pointer;
}

#message-box-selected-user-conversation-section {
  width: 15em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#message-box-selected-user-conversation-ul {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 5px;
}

.message-box-conversation-button {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #d3d3d3;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
}

.message-box-textarea {
  width: 100%;
  height: 4em; /* Set a reasonable height for typing */
  border-top: 1px solid #ccc;
  padding: 8px; /* Padding for internal text space */
  background-color: #fff; /* White background for contrast */
  resize: none;
}

.message-item {
  margin: 5px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff; /* White for messages to stand out */
}

.sent-message-item {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
}

.received-message-item {
  align-self: flex-start;
  background-color: #e9ecef;
}

#no-selected-conversation-p {
  text-align: center;
  margin: auto;
  font-style: italic;
}

#add-conversation-legend{
  text-align: center;
}
#message-box-add-user-button{
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
}