#popup-overlay {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

#popup-container {
  width: 25em;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  position: absolute;
  background-color: inherit;
  padding: 1em;
  border-radius: 10px;
  box-shadow:
  2px 0 3px,
  -2px 0 3px,
  0 2px 3px,
  0 -2px 3px;
}