#page-header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
}

#page-h1 {
  width: 33%;
  text-align: start;
  text-decoration: underline;
}

#navigation-container {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.navigation-button {
  width: 6em;
  font-size: x-large;
  margin: 0 5px;
  padding-bottom: 5px;
  border: none;
}

.pointed-navigation-button, .current-tab-button {
  box-shadow: inset 0 -5px;
}

#header-right-container {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#cart-section {
  display: flex;
}

#cart-count-p {
  width: 3em;
  position: absolute;
  top: 4px;
  left: -3em;
  text-align: end;
}

#user-dropdown {
  text-align: end;
  margin: 10px;
}

#user-dropdown-summary {
  margin-bottom: 5px;
}

#logout-button, #color-mode-button {
  border: 1px solid;
  border-radius: 10px;
}

#color-mode-button {
  margin-right: 5px;
}
#page-logo{
    width: 160px; 
    height: auto; 
    margin-right: 1200px; 
    fill: white;
  
}