/* global site styling behaviors */

@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  text-wrap: wrap;
  font-family: 'Genos', sans-serif;
  font-size: large;
  line-height: 1em;
  color: inherit;
}

html, body, #root {
  max-height: 100vh;
  margin: 0;
  text-align: center;
  background-color: rgb(43, 43, 43);
  color: white;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

fieldset {
  padding: 0;
  border: none;
}

legend {
  font-size: larger;
}

input[type=button], input[type=submit], input[type=checkbox], label:has(input[type=radio]), summary {
  cursor: pointer;
}

input, input::placeholder {
  color: inherit;
  background-color: inherit;
  text-align: center;
}

input::placeholder, :disabled {
  opacity: 0.5;
}