/* global site styling behaviors */

@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  text-wrap: wrap;
  font-family: 'Genos', sans-serif;
  font-size: large;
  line-height: 1em;
  color: inherit;
}

html, body, #root {
  margin: 0;
  text-align: center;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

fieldset {
  padding: 0;
  border: none;
}

legend {
  font-size: larger;
}

input[type=button], input[type=submit], input[type=checkbox], input[type=radio], label:has(input[type=radio]), label:has(input[type=button]), summary {
  cursor: pointer;
}

input, input::placeholder {
  color: inherit;
  background-color: inherit;
  text-align: center;
}

input::placeholder, :disabled {
  opacity: 0.5;
}

::-webkit-scrollbar {
  display: none;
}

.overlayed-button-container {
  position: relative;
}

.overlayed-button {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

.hidden-container {
  display: none;
}

.dark-mode {
  background-color: rgb(43, 43, 43);
  color: whitesmoke;
}

.light-mode {
  background-color: whitesmoke;
  color: rgb(43, 43, 43);
}

.Common-item {background-color: transparent; border-color: #CBCBCB;
  .listed-item-rarity-p{
    color:  #CBCBCB;
 } 
}

.Uncommon-item {background-color: transparent; border-color: lightgreen; 
  .listed-item-rarity-p{
    color:  lightgreen;
 }
}

.Rare-item {background-color: transparent;border-color: #4178BE; 
  .listed-item-rarity-p{
    color: #4178BE;
 }
}

.Super-Rare-item { background-color: transparent;border-color: #E6C200; 
  .listed-item-rarity-p{
   color: #E6C200;
 }
}